@font-face {
    font-family: "roboto-slab-bold";
    src: url("../font/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("woff"), url("../font/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("opentype"), url("../font/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-slab-regular";
    src: url("../font/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("woff"), url("../font/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("opentype"), url("../font/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "robo";
    src: url("../font/banabo/Banabo.ttf") format("woff"), url("../font/banabo/Banabo.ttf") format("opentype"), url("../font/banabo/Banabo.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-italic";
    src: url("../font/Roboto/Roboto-Italic.ttf") format("woff"), url("../font/Roboto/Roboto-Italic.ttf") format("opentype"), url("../font/Roboto/Roboto-Italic.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: "roboto-slab-regular", "robo";
}


/*---------------------------------------------*/

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}


/*---------------------------------------------*/

#reissue-password h1,
#reissue-password h2,
#reissue-password h3,
#reissue-password p,
#reissue-password span,
#reissue-password strong {
    color: orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1.7;
    color: black;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/* cus */

body {
    background-image: url(../imageTemplate/confirmPassword.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
}

#confirm-password {
    margin-top: 2rem;
}

div.container {
    padding: 0px 15rem;
    margin-top: 6rem;
}

label[for="password"],
label[for="password_confirmation"] {
    font-weight: bold !important;
}

div.form-floating {
    position: relative;
}

span.icon-eye {
    position: absolute;
    right: 16px;
    top: 31%;
    bottom: 53%;
}

#frm-comfirm-password {
    padding: 0 5rem;
}

.btn-submit {
    margin-top: 4rem;
    background-color: #fcdb4b;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: ease 0.3s;
    color: white;
    color: black;
    box-shadow: 4px 4px 4px var(--bs-white);
}

.btn-submit:hover {
    background-color: #0479f2;
    scale: 1.03;
    color: white;
    box-shadow: -5px -5px 5px #f5c27a;
}

p.note-comfirm {
    font-style: italic;
    font-weight: bold;
    color: white;
    margin-top: 3rem;
    text-decoration: underline;
}

p.idea {
    font-size: 20px;
}

.card {
    height: 6rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: red;
    box-shadow: #ffc10773 0px 3px 8px;
}

.icon-eye {
    cursor: pointer;
}

.text-center.mt-5 {
    display: flex;
    justify-content: center;
}

.none-icon {
    display: none;
}

#reissue-password {
    background-image: url(../imageTemplate/bg_2.jpg);
    animation: fadeIn 3s;
}

.add-su {
    animation: fadeIn 3s;
    background-image: url(../imageTemplate/bg_1.jpg) !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn_v2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1400px) {
    #frm-comfirm-password {
        padding: 0px 0rem;
    }
}

@media screen and (max-width: 990px) {
    div.container {
        padding: 0px 0px;
        margin-top: 6rem;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 37rem;
    }
}