@font-face {
    font-family: "roboto-slab-bold";
    src: url("../font/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("woff"), url("../font/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("opentype"), url("../font/Roboto_Slab/static/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-slab-regular";
    src: url("../font/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("woff"), url("../font/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("opentype"), url("../font/Roboto_Slab/static/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "robo";
    src: url("../font/banabo/Banabo.ttf") format("woff"), url("../font/banabo/Banabo.ttf") format("opentype"), url("../font/banabo/Banabo.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-italic";
    src: url("../font/Roboto/Roboto-Italic.ttf") format("woff"), url("../font/Roboto/Roboto-Italic.ttf") format("opentype"), url("../font/Roboto/Roboto-Italic.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "roboto-bold"; */
}

:root {
    --title-menu-color: #2626116e;
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #1707c4;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --page-404-color: #24344c;
    --text-color: #383838;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


/* vue3-popper */

:root {
    --popper-theme-background-color: #2d6e26;
    --popper-theme-background-color-hover: #333333;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 32px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #bbdbe5;
    --primary-color-light: #3a3b3c;
    --toggle-color: #bbdbe5;
    --text-color: #ccc;
    --title-menu-color: #fffdfb9c;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}


/* vue3-popper */

:root {
    --light-blue-color: ##a0c49d;
    --background-color: #e4e9f7;
    --btn-save-color: #2c96ff;
    --btn-cancel-color: #e9ecef;
    --transform-scale: scale(1.03);
    --transition-ease: ease 0.3s;
    --font-title: "roboto-slab-bold";
    --font-content: "roboto-slab-regular";
    --font-size-pc: 18px;
    --font-size-mb: 14px;
    --text-color: black;
}

:root {
    --secondary-color: #6c757d;
    --info-color: #17a2b8;
    --red-color: #dc3545;
    --green-color: #198754;
}

h1,
h2,
h3,
h4,
h5,
h6,
title {
    font-family: "roboto-slab-bold";
}

a.style-tag-a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "roboto-slab-regular" !important;
    background-color: #e4e9f7;
}

button {
    transition: var(--transition-ease);
}

span.error-message-danger {
    color: #dc3545;
}

.icon {
    transform: var(--transform-scale);
}


/* Ẩn thanh cuộn của input type number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Ẩn mũi tên của Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

button.btn {
    border: 1px solid white !important;
    border-radius: 10px !important;
    width: 45px !important;
    height: 36px !important;
    font-size: 16px !important;
    transition: ease 0.4s !important;
}

button.btn-run {
    color: white !important;
    background-color: #52c41a !important;
}

button.btn-status {
    color: white !important;
    background-color: var(--btn-save-color) !important;
    border: none !important;
    padding: 5px 7px !important;
    border-radius: 5px !important;
    transition: ease 0.3s !important;
}

button.btn-status:hover {
    transform: scale(1.07) !important;
}

button.btn:hover,
button.btn-from:hover {
    transform: scale(1.07) !important;
}

button.btn-add {
    color: white !important;
    background-color: var(--green-color) !important;
}

button.btn-remove {
    color: white !important;
    background-color: red !important;
}

button.btn-save {
    color: white !important;
    background-color: #2c96ff !important;
}

button.btn-block {
    color: white !important;
    background-color: orange !important;
}

button.btn-change {
    color: white;
    background-color: #8313f3 !important;
}

button.btn-rename {
    color: white;
    background-color: var(--info-color) !important;
}

button.btn-clear {
    color: #fff !important;
    background-color: #d9d9d9 !important;
    border: 1px solid #d9d9d9 !important;
}

span.status-on {
    background-color: #d0f5db;
    color: #5bbb6b;
    user-select: none;
}

span.status-off {
    background-color: #f7000333;
    color: red;
    user-select: none;
}